@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240; /* text */
  --background-start-rgb: 15, 23, 36; /* background */
  --background-end-rgb: 15, 23, 36; /* background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 232, 240;
    --background-start-rgb: 15, 23, 36;
    --background-end-rgb: 15, 23, 36;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f1724;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}